$warning:rgb(238, 158, 9);
@import '../node_modules/bootstrap/scss/bootstrap.scss';
*{
    margin: 0%;padding: 0%;
    box-sizing: border-box;
}
#root{
    display: flex;
    flex-direction: column;
}
main{
    min-height: 70vh;
}
.form-section{
background-color:rgb(238, 158, 9);
min-height: 100vh;
display: flex;
align-items: center;
}
::-webkit-scrollbar{
    background-color: white;
    width: 15px;   
}
::-webkit-scrollbar-thumb{
    background-color:#bcbcbc;
}
.text-indent{
    text-align: justify;
    text-indent: 7%;
}
.footer a:hover{
color: rgb(208, 168, 93) !important;    
}
@media only screen and (max-width: 992px) {
        .last-column{
            width: 100%;
        }
}